@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: #ffffff;
  background-image:  radial-gradient(#000000 1.3px, transparent 1.3px), radial-gradient(#ff0000 1.3px, #ffffff 1.3px);
  background-size: 52px 52px;
  background-position: 0 0,26px 26px;
}

